@font-face{
        font-family: 'Metropolis';
        src: url('../font/Metropolis-Medium.woff') format('woff');
}

@font-face{
        font-family: 'Metropolis';
        font-weight: 600;
        src: url('../font/Metropolis-Bold.woff') format('woff');
}

@font-face{
        font-family: 'Metropolis';
        font-weight: 900;
        src: url('../font/Metropolis-Black.woff') format('woff');
}

*,
*::after,
*::before{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Metropolis', sans-serif;
}

.section-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5rem;
        margin-inline: 5rem;
        grid-column-gap:  5rem;
}

.section-container > *{
        flex-basis: 100%;
}

.h3-container{
        align-items: center;
}

.section-text-container h3{
        margin-left: 15px;
        color: #6d4738;
        font-size: 32px;
        font-weight: 600;
}

.section-text-container  p{
        padding-block: 2rem;
        font-size: 22px;
        color: #737373;
        font-weight: 400;
        line-height: 120%;
}

.section-btn{
        color: white;
        background-color: var( --primary-neutral);
        margin-right: auto;
        font-size: 22px;
        padding: 1rem 3rem;
        border-radius: 2rem;
}

.section-img-container img{
        width: 100%;
}